@import "@zdmin/crab/dist/index.css";
@import "tailwindcss";
@import "./scss/index.scss";

@theme {
  /* Supplementary text	12px Extra Small	Build with Element
  Body (small)	13px Small	Build with Element
  Body	14px Base	Build with Element
  Small Title	16px Medium	Build with Element
  Title	18px Large	Build with Element
  Main Title	20px Extra Large	Build with Element */

  --text-sm: 11px;
  --text-base: 12px;
  --text-lg: 14px;
  --text-xl: 18px;
}

:root {
  --color-divider: #d3e3fdff;
}
