:root {
  .el-button + .el-button {
    margin-left: 4px;
  }
  .el-button.is-text + .el-button {
    margin-left: 2px;
  }
  .el-button + .el-button.is-text {
    margin-left: 2px;
  }
  .el-divider__text {
    font-size: var(--text-base);
    padding: 0 calc(var(--spacing) * 2);
  }
}