:root {
  .el-button + .el-button {
    margin-left: 4px;
  }
  .el-button.is-text + .el-button {
    margin-left: 2px;
  }
  .el-button + .el-button.is-text {
    margin-left: 2px;
  }
  .el-divider__text {
    font-size: var(--text-base);
    padding: 0 calc(var(--spacing) * 2);
  }

  .el-select {
    --el-select-input-font-size: var(--el-font-size-base);

    .el-select__input {
      height: 20px;
    }

    .el-select__wrapper {
      font-size: var(--el-select-input-font-size);
      line-height: 1.15;
    }
  }

  .el-dropdown .el-button.is-text:not(.is-disabled):focus-visible {
    outline: none;
    transition: none;
  }

  .el-dropdown > *:focus-visible {
    outline: none;
  }

  .el-button {
    padding: 4px 8px;
  }
}

$elp-types: primary, success, warning, danger, error;

@each $type in $elp-types {
  .el-dropdown-menu__item[data-ara-type="#{$type}"] {
    --el-dropdown-menuItem-hover-fill: var(--el-color-#{$type}-light-9);
    --el-dropdown-menuItem-hover-color: var(--el-color-#{$type});
  }
}